body{
    font-family: 'Righteous', cursive;
}

.pointer{
    cursor: pointer;
}

/* Flash message */ 
.flashes h2{
    line-height: 2;
}

/* Base.html */

.logo{
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    max-width: 240px;
}

.title-banner{
    display: block;
    width: 100%;
    text-align: center;
}

.title-banner h4{
    margin-top: 0;
}

.title-banner a{
    text-decoration: none;
    color: inherit;
}

/* Navigation Bar */
.nav-bar{
    text-align: center;
    width: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: 13px;
    color: rgb(22, 50, 126);
}

.nav-bar ul{
    padding: 0;
    text-align: center;
    width: 90%;
    margin: auto;
}

.nav-bar li{
    display: inline;
    padding: 0 10px 0 10px;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
}

/* Search Tool */

.search-tool{
    width: 100%;
    height: 100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
}

.enter-postcode{
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(100, 100, 100);
}

.query-box{
    width: 90%;
    height: 30px;
    display:block;
    margin:auto;
    font-family: 'Righteous', cursive;
    color: rgb(0, 0, 0);
    max-width: 700px;
    border: 2px solid black;
}

.search-btn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}

.reset-btn{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.sub-btn{
    font-family: 'Righteous', cursive;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: none;
}

.sub-btn:focus{
    outline: none;
}

/* Results from Search */
.results-cont{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.results-cont h2{
    color: rgb(126, 22, 22);
    margin-bottom: 5px;
}

.bus-results{
    width: 50%;
    margin: auto;
}

.business{
    padding: 15px 5px 25px 5px;
    margin: 15px;
    border: 3px solid black;
}

/* Smart Device Layout */

@media screen and (min-width: 340px){

    .nav-bar{
        font-size: 17px;
    }

}

@media screen and (min-width: 800px){

    .title-banner h1{
        font-size: 45px;
    }

    .title-banner h4{
        font-size: 20px;
    }

}