*{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 114, 76);
}

.pointer{
    cursor: pointer;
}

/* Flash message */
.flashes{
    display: block;
    position: fixed;
    margin-top: 47px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.flashes h3{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

.flashes a{
    text-decoration: none;
}

/* Navigation Bar */
.nav-bar{
    text-align: center;
    height: 50px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-size: 11px;
    font-weight: 800;
    color: rgb(0, 114, 76);
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    top: 0;
}

.nav-bar ul{
    padding: 15px 0 0 0;
    text-align: right;
    width: 100%;
    margin: auto;
}

.nav-bar li{
    display: inline;
    padding: 0 10px 0 10px;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
}

/* Base.html */

.header{
    width: 100%;
    background-color: rgb(0, 114, 76);
    padding-top: 50px;
    padding-bottom: 50px;
}

.header.header-2{
    padding-bottom: 15px;
}

.logo{
    width: 40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    max-width: 240px;
}

.logo.medium{
    width: 20%;
}

.title-banner{
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.title-banner h1{
    font-family: 'Concert One', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 200;
}

.title-banner h3{
    font-family: 'Concert One', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 200;
}

.title-banner h4{
    margin-top: 10px;
}

.title-banner a{
    text-decoration: none;
    color: inherit;
}

/* Search Tool / Some Log In & Register */

.search-tool{
    width: 100%;
    height: 100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
}

.enter-postcode{
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.query-box{
    width: 90%;
    height: 30px;
    display:block;
    margin:auto;
    color: rgb(0, 0, 0);
    max-width: 700px;
    border: 8px solid rgb(255, 255, 255);
}

.search-btn{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

.reset-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sub-btn{
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
}

.sub-btn:focus{
    outline: none;
}

/* Results from Search / Profile */
.results-cont{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.results-cont h2{
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.bus-results{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.business{
    width: inherit;
    padding: 15px 5px 25px 5px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 114, 76);
}

.cent-txt{
    text-align: center;
}

/* Log In / Register */

.login-cont{
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    color: rgb(0, 114, 76);
    padding-top: 35px;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, .7);
    padding: 20px;
}

.log-btn {
   color: rgb(0, 114, 76); 
}

.link-cont{
    background-color: rgb(0, 114, 76);
}

.link, .link-2{
    text-align: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
}

.link a{
    text-decoration: underline;
    color: inherit;
}

.link-2 a{
    text-decoration: none;
    color: inherit;
}

.form-box{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 13px;
}

.validate{
    width: 100%;
    height: 35px;
    padding-left: 5px;
}

/* Smart Device Layout */

@media screen and (min-width: 340px){

    .nav-bar{
        font-size: 17px;
    }

}

@media screen and (min-width: 800px){

    .title-banner h1{
        font-size: 45px;
    }

    .title-banner h4{
        font-size: 20px;
    }

}