{% extends "base.html" %}

{% block content %}

    <div class="header header-2">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo"></a>
        </div>

        <!-- Title -->
        <div class="title-banner">
            <h3 class="title" >{{ username }}'s Profile</h3>
        </div>

    </div>

    <div class="login-cont">
        <form class="login-form" method="POST" action="{{ url_for('admin_page', admin_user=session['user']) }}">
            <!-- Add a Business -->
            <div class="form-box">
                <label for="business-type">Add type of Business</label>
                <input id="business-type" name="business-type" type="text" minlength="3" maxlength="30" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>

            <!-- Add Button -->
            <div class="search-btn">
                <button type="submit" class="sub-btn">
                    Add
                </button>
            </div>
        </form>
    </div>

                
{% endblock %}