{% extends "base.html" %}

{% block content %}

    <h4 class="center-align">Edit your business information</h4>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_info', edit_business=business_id._id) }}">
            <div class="card-panel teal">
                <!-- name of business -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="business_name" name="business_name" type="text" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" value="{{ business_id.name }}" required>
                        <label for="business_name">Name of Business</label>
                    </div>
                </div>
                <!-- type of business -->
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose a type of business</option>
                        {% for category in categories %}
                            {% if category.category_name == business_id.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Type of Business</label>
                </div>
                <!-- website -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="website" name="website" type="text" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" value="{{ business_id.website }}" required>
                        <label for="website">Website</label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix"></i>
                        <input id="email" name="email" type="email" class="validate" value="{{ business_id.email }}"  required>
                        <label for="email">Business Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix"></i>
                        <input id="email2" name="email2" type="email" class="validate" required>
                        <label for="email2">Verify Business Email</label>
                    </div>
                </div>
                <!-- address -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="address" name="address" type="text" minlength="5" maxlength="100" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" value="{{ business_id.address }}"  required>
                        <label for="address">Address</label>
                    </div>
                </div>
                <!-- update -->
                <div class="row">
                    <a href="{{ url_for('profile', username=session['user']) }}'" class="btn-large red">
                        Cancel
                    </a>
                    <button type="submit" class="col s12 btn-large text-shadow">
                        Update <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}