{% extends "base.html" %}

{% block content %}

    <div class="header">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo"></a>
        </div>

        <!-- Title -->
        <div class="title-banner">
            <h1><a href="{{ url_for('index') }}">Local Directory</a></h1>
            <h4 class="title" >Support your Local Business</h4>
        </div>

        <!-- Search Tool -->
    <form class="search-tool" action="{{ url_for('search') }}" method="POST">

        <div class="row">

            <div class="column srch-w-1">
                <label for="query" class="business-type">What Business You Looking For?</label>
                <input type="text" name="query" id="query" minlength="3" class="query-box" required>
            </div>

            <div class="column srch-w-2">
                <label for="query2" class="enter-postcode">Enter Your Postcode</label>
                <input type="text" name="query2" id="query2" minlength="3" class="query-box" value="ss8" required>
            </div>

        </div>


        <div class="search-btn">
            <a href="{{ url_for('index') }}" class="reset-btn pointer">Reset</a>
            <button type="submit" class="sub-btn">Search</button>
        </div>
    </form>

    </div>

    <section class="results-cont">
        {% if query %}
            <h2>Results for {{ query }}</h2>
        {% endif %}
        <div class="bus-results">
            {% for business in results %}
                <div class="business">
                    {{ business.name }}<br>
                    {{ business.category_name }}<br>
                    {{ business.website }}<br>
                    {{ business.email }}<br>
                    {{ business.address }}<br>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}