{% extends "base.html" %}

{% block content %}

    <!-- Search Tool -->
    <form class="search-tool" action="{{ url_for('search') }}" method="POST">
        <label for="query" class="enter-postcode">Enter Your Postcode</label>
        <input type="text" name="query" id="query" minlength="3" class="query-box" required>
        <div class="search-btn">
            <a href="{{ url_for('index') }}" class="reset-btn pointer">Reset</a>
            <button type="submit" class="sub-btn">Search</button>
        </div>
    </form>

    <section class="results-cont">
        <h2>Results for {{ query }}</h2>
        <div class="business">
            {% for business in results %}
                {{ business.name }}<br>
                {{ business.category_name }}<br>
                {{ business.website }}<br>
                {{ business.email }}<br>
                {{ business.address }}<br><br>
            {% endfor %}
        </div>
    </section>

{% endblock %}