{% extends "base.html" %}

{% block content %}
    <!-- Search Tool -->
    <nav>
        <div class="nav-wrapper">
        <form>
            <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            </div>
        </form>
        </div>
    </nav>

    <section class="center-align">
        <h4>Extension works!</h4>

        {% for business in results %}
            {{ business.name }}<br>
            {{ business.category_name }}<br>
            {{ business.website }}<br>
            {{ business.email }}<br>
            {{ business.address }}<br><br>
        {% endfor %}
    </section>

{% endblock %}