{% extends "base.html" %}

{% block content %}
    <div class="header">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo medium"></a>
        </div>

        <!-- Title -->
        <div class="title-banner">
            <h1 class="title" >Log In</h1>
        </div>

    </div>

    <div class="login-cont">
        <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <!-- username -->
            <div class="form-box">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
                
            <!-- password -->
            <div class="form-box">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
                
            <!-- log in -->
            <div class="search-btn">
                <button type="submit" class="sub-btn">
                        Log In
                </button>
            </div>
        </form>
    

        <div class="link-cont">
            <p class="link">
                Have a Business?
                <a href="{{ url_for('register') }}" class="text-darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}