{% extends "base.html" %}

{% block content %}

    <div class="header header-2">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo"></a>
        </div>

        <!-- Title -->
        <div class="title-banner">
            <h3 class="title" >{{ username }}'s Profile</h3>
        </div>

    </div>

    <div class="bus-results">
        {% for users_business in business_id %}
            <div class="business cent-txt">
                {{ users_business.category_name }}<br>
                {{ users_business.name }}<br>
                {{ users_business.website }}<br>
                {{ users_business.email }}<br>
                {{ users_business.address }}<br>
            </div>
        {% endfor %}
    </div>

    <div class="link-cont">
        <p class="link-2">
            {% for users_business in business_id %}
                <a href="{{ url_for('edit_info', edit_business=users_business._id) }}" class="btn-small light-blue accent-4">
                    Update your Business Information
                </a>
                <a href="{{ url_for('delete_probus', delete_business=users_business._id) }}" class="btn-small light-blue accent-4">
                    Delete Profile and Business Information
                </a>
        {% endfor %}
        </p>
    </div>
                
{% endblock %}