{% extends "base.html" %}

{% block content %}

    <div class="del-dsply">
        <div class="del-warn">
            <h3 class="warning">Are you sure?</h3>
            <p class="warning">
                By confirming, your Profile and Business will be removed from The Local Directory Data base.
            </p>
            <div class="search-btn">
                {% for users_business in business_id %}
                    <p class="sub-btn ed-btn pointer cancel">
                        Cancel
                    </p>
                    <a href="{{ url_for('delete_probus', delete_business=users_business._id) }}" class="sub-btn del-btn">
                        Yes, Delete ME!
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="header header-2">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo"></a>
        </div>

        <!-- Title -->
        <div class="title-banner text-shadow">
            <h3 class="title" >{{ username }}'s Profile</h3>
        </div>

    </div>

    <div class="bus-results">
        {% for users_business in business_id %}

            <div class="bus-card">
                <div class="business cent-txt">
                    <h5>{{ users_business.category_name }}</h5>
                    <h1>{{ users_business.name }}</h1>
                    <a href="{{ users_business.website }}" target="_blank" rel="noopener noreferrer">{{ users_business.website }}</a><br>
                    <a href="mailto: {{ users_business.email }}">{{ users_business.email }}</a><br>
                    {{ users_business.address }}<br>
                </div>
            </div>
            
        {% endfor %}
    </div>

    <div class="search-btn">
        {% for users_business in business_id %}
            <a href="{{ url_for('edit_info', edit_business=users_business._id) }}" class="sub-btn ed-btn pointer">
                Update your Business Information
            </a>
            <p class="sub-btn del-btn delete">
                Delete Profile and Business Information
            </p>
        {% endfor %}
    </div>
                
{% endblock %}