{% extends "base.html" %}

{% block content %}

    <div class="header register">

        <!-- Logo -->
        <div class="logo-cont">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/LOCAL-logo_white.png')}}" alt="Local Directory" class="logo medium"></a>
        </div>

        <!-- Title -->
        <div class="title-banner">
            <h1 class="title" >Register</h1>
        </div>

    </div>

    <div class="login-cont">
        <form class="login-form" method="POST" action="{{ url_for('register') }}">
            <!-- username **Note - regx - pattern attr**-->
            <div class="form-box">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
                
            <!-- password -->
            <div class="form-box">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
            <div class="form-box">
                <label for="password2">Verify Password</label>
                <input id="password2" name="password2" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
            <!-- name of business -->
            <div class="form-box">
                <label for="business_name">Name of Business</label>
                <input id="business_name" name="business_name" type="text" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>
                
            <!-- type of business
            <div class="form-box">
                <label>Type of Business</label>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose a type of business</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div> -->

            <!-- website -->
            <div class="form-box">
                <label for="website">Website</label>
                <input id="website" name="website" type="text" minlength="5" maxlength="30" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>

            <!-- email -->
            <div class="form-box">
                <label for="email">Business Email</label>
                <input id="email" name="email" type="email" class="validate" required>  
            </div>
                
            <div class="form-box">
                <label for="email2">Verify Business Email</label>
                <input id="email2" name="email2" type="email" class="validate" required>
            </div>

            <!-- address -->
            <div class="form-box">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" minlength="5" maxlength="100" pattern="^[a-zA-Z0-9}{5,15}$" class="validate" required>
            </div>

            <!-- register -->
            <div class="search-btn">
                <button type="submit" class="sub-btn">
                    Register
                </button>
            </div>
        </form>
    </div>

    <div class="link-cont">
        <p class="link">
            Already Registered?
            <a href="{{ url_for('register') }}" class="text-darken-4">Log In</a>
        </p>
    </div>

{% endblock %}